<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
	<div th:if="${test}" th:text="${test}" class="alert alert-danger"></div>
     <!--/* ログインエラー時にメッセージを表示 */-->
    <div th:if="${param.error}" class="alert alert-danger">
    	<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
   th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
    </div>
    
 	<form th:action="@{/login}" method="post" >
	  	名前
    	<input type="text" class="form-controll" name="name"  th:value = "*{name}">
        パスワード
        <input type="password" class="form-controll" name="password">    
	    <input type="submit" class="btn btn-primary" value="ログイン">
	 </form>
	 
</body>
</html>